.gallery {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.gallery-card {
  width: 32%;
  padding: 0.5%;
  text-decoration: none;
  @media screen and (max-width: 1024px) {
    width: 44%;
    padding: 3%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 10px 0;
  }
}
