<div 
  class="gallery"
  appInfiniteScroll
  [appInfiniteScrollDisabled]="!!(isTotalItemsReached$ | async)"
  (scrolled)="isLoading || loadMore()"
  *ngIf="(loadedImages$ | async) as loadedImages"
>
  <a class="gallery-card" *ngFor="let item of loadedImages" [routerLink]="['photo', item.id]">
    <app-gallery-card [card]="item"></app-gallery-card>
  </a>
  <div class="no-results"
    *ngIf="!loadedImages.length && !isLoading"
  >
    No results
  </div>
</div>
<div class="no-results" *ngIf="error && !isLoading">{{ error }}</div>
<app-spinner *ngIf="isLoading"></app-spinner>
