<div class="gallery" *ngIf="(loadedImages$ | async) as loadedImages">
  <app-gallery-card class="gallery-card" *ngFor="let item of loadedImages" [card]="item"></app-gallery-card>
  <div class="no-results"
    *ngIf="!loadedImages.length && !isLoading"
  >
    No results
  </div>
</div>

<div *ngIf="!isLoading else loadingBlock">
  <button (click)="loadMore()">Load more...</button>
</div>

<div class="no-results" *ngIf="error && !isLoading">{{ error }}</div>

<ng-template #loadingBlock>
  <app-spinner></app-spinner>
</ng-template>
